= form_for( vm.gathering, as: 'gathering', url: gathering_path( vm.gathering ), :html => { class: 'form-horizontal' } ) do |f|

  %fieldset
    %legend
      = vm.gathering.name

    = render 'form', f: f

    .form-actions
      %button{ class: 'btn btn-primary', type: 'submit' }
        Save changes
      %button{ class: 'btn', type: 'button', onclick: 'history.go(-1)' }
        Cancel
