- @title = 'Create and Manage your very own gatherings!'

.teaser
  %p
    Whether you love to throw or organize parties or you're dreading the prospect, Gatherings is here to help!
    We provide tools to help you create and manage a gathering with nearly limitless events and invites to your guests.

  %p
    Want to break up your party into a wine-tasting trip and a barbecue afterward?  No problem with gatherings!  
    You can manage multiple events and even break up the invites across those same events.  
    Want to invite only your closest friends to the wine trip but all your coworkers to the after-party?  Gatherings can do it!

.options
  Now, why don't you
  = link_to( 'see the sample gatherings', gatherings_path )
  or
  = link_to( 'add your own gathering now', new_gathering_path ) + '?'.html_safe
